{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Изменить пароль - Эко-сообщество{% endblock  %}

{% block body_block %}
<div class="container m-auto w-50">
{% if changed %}
    <div class="alert alert-success" role="alert">
        Пароль успешно изменен! Перейдите на страницу <a href="{% url 'app_login:login' %}">входа</a>
    </div>
{% else %}
    <div class="card p-5 mb-5">
        <h2 class="mb-4">Изменение пароля</h2>
        <form method="post">
            {{form|crispy}}
            {% csrf_token %}
            <input type="submit" class="btn btn-dark mt-3" value="Изменить">
            <a class="btn btn-info mt-3" href="{% url 'app_login:profile' %}">Отменить</a>
        </form>
    </div>
{% endif %}
</div>
{% endblock  %}