{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Регистрация - Эко-сообщество{% endblock  %}

{% block body_block %}
<div class="container m-auto w-50">
{% if registerd %}
    <div class="alert alert-success" role="alert">
        Аккаунт успешно зарегистрирован! <a href="{% url 'app_login:login' %}">Войти</a>
    </div>
{% else %}
    <div class="card p-5 mb-5">
        <h2>Регистрация</h2>
        <form method="post">
            {{form|crispy}}
            {% csrf_token %}
            <input type="submit" class="btn btn-success mt-3" value="Создать аккаунт">
        </form>
        <br>
        <p>Уже есть аккаунт? <a class="" href="{% url 'app_login:login' %}">Войти</a></p>
    </div>
{% endif %}
</div>
{% endblock  %}