{% extends 'base.html' %}
{% block title_block %}{{blog.title}} - Эко-сообщество{% endblock  %}
{% load crispy_forms_tags %}
{% load static %}
{% block body_block %}
<main class="blog-post-single">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-8">
                <div class="mb-1 overflow-hidden rounded border" style="max-height:300px">
                    <img class="img-fluid align-middle w-100"
                            {% if blog.blog_image == "" %}
                                src="{% static '/images/empty.jpg' %}"
                            {% else %}
                                src="/media/{{blog.image}}"
                            {% endif %} 
                        alt="">
                </div>
                <p class="mx-2 text-secondary">
                    <i class="bi bi-pencil-square"></i>
                    Автор: <b>@/{{blog.author}}</b>
                    Последнее обновление {{blog.edited}}</p>
                <div class="post-content">
                    <h4 class="fw-bold">{{blog.title}}</h4>
                    <p class="lead">{{blog.sub_title}}</p>
                    <p style="text-align:justify">{{blog.content|linebreaks}}</p>
                </div>
                
                {% if user.is_authenticated %}   
                <form method="post" class="d-flex my-3">
                    {{comment_form|crispy}}
                    {% csrf_token %}
                    <button class="btn btn-dark me-2" type="submit"><i class="bi bi-chat-dots"></i> Комментировать</button>
                    {% if liked %}
                    <a class="btn btn-outline-danger" href="{% url 'app_blog:dislike' pk=blog.pk %}">
                    <i class="bi bi-hand-thumbs-down"></i></a>
                    {% else %}
                    <a class="btn btn-outline-success" href="{% url 'app_blog:like' pk=blog.pk %}">
                    <i class="bi bi-hand-thumbs-up"></i></a>
                    {% endif %}
                </form>                
                {% else %}
                    <p class="lead">
                        <a class="text-decoration-none" href="{% url 'app_login:login' %}">
                        <i class="bi bi-person-circle"></i> 
                        Войдите</a>, чтобы написать комментарий.
                    </p>
                {% endif %}

                <div class="card mb-5">
                    <div class="card-header">
                        <span>
                            <i class="bi bi-hand-thumbs-up"></i>
                            Нравится - <b>{{blog.blog_like.count}}</b>
                        </span>
                        <span class="ms-2">
                            <i class="bi bi-chat-right-quote ml-2"></i>
                            Комментариев - <b>{{blog.blog_comment.count}}</b>
                        </span>
                    </div>
                    <div class="card-body">
                        {% for comment in blog.blog_comment.all %}
                            <div class="card p-2 mb-1">
                                <div class="d-flex justify-content-between">
                                    <h5 class="m-0">
                                        {% if comment.user.first_name == "" %}
                                            {{comment.user}}
                                        {% else %}
                                        {{comment.user.first_name}} {{comment.user.last_name}}
                                        {% endif %}
                                    </h5>
                                    <p>{{comment.commented}}</p>
                                </div>
                                <p class="my-0">{{comment.comment}}</p>
                            </div>
                        {% empty %}
                        Пока к посту нет комментариев
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ms-5">
                    <h5 class="">Темы поста</h5>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {% for topic in blog.topics.all %}
                            <li class="list-group-item">{{ topic.title }}</li>
                            {% empty %}
                            <li class="list-group-item">Темы не выбраны</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock  %}